@import "tailwindcss";

@layer utilities {

  @keyframes color-rise {
    0% {
      background-color: #1c1c29; 
      filter: drop-shadow(0 0 15px #00ff5e);
      width: 0%;
    }
    50% {
      background-color: #0c4621;
    }
    100% {
      background-color: #1c1c29; 
      width: 100%;
      opacity: 0.8;
    }
  }

  .rise-color{
    animation: color-rise ease-in-out 500ms;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .spinning-drop-shadow{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    animation: spin-shadow 3s infinite linear
  }
}

*{
  font-family: "Inter";
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes spin-shadow {
  0% {
      box-shadow: 1px 1px 20px rgba(58, 8, 175, 1);
  }
  25% {
      box-shadow: -1px 1px 20px rgba(58, 8, 175, 0.5);
  }
  50% {
      box-shadow: -1px -1px 20px rgba(58, 8, 175, 1);
  }
  75% {
      box-shadow: 1px -1px 20px rgba(58, 8, 175, 0.5);
  }
  100% {
      box-shadow: 1px 1px 20px rgba(58, 8, 175, 1);
  }
}

@keyframes rise-bounce {
    0% {
      transform: translateY(50px);
      opacity: 0
    }
    60% {
      transform: translateY(-10px); /* overshoot up */
    }
    80% {
      transform: translateY(5px); /* small bounce down */
    }
    100% {
      transform: translateY(0); /* settle */
      opacity: 1
    }
  }
  
  .rise {
    opacity: 0;
    transition: 0.75s;
    transform: translateY(50px);
  }
  
  .rise.active {
    opacity: 1;
    animation: rise-bounce 0.75s ease-out forwards;
  }

.tooltip{
  color: #81b39a;
  font-weight: bold;
}

#Title{
  font-size: 30px;
  margin: unset;
}
  #titlesub{
    font-size: 20px;
    text-align: center;
  }

#toolTip{
  display: flex;
  flex-direction: column;
}
