@import "tailwindcss";

*{
    font-family: "inter";
}

@keyframes rise-bounce {
    0% {
      transform: translateY(50px);
    }
    60% {
      transform: translateY(-10px); /* overshoot up */
    }
    80% {
      transform: translateY(5px); /* small bounce down */
    }
    100% {
      transform: translateY(0); /* settle */
    }
  }
  
  .rise {
    opacity: 0;
    transition: 0.75s;
    transform: translateY(50px);
  }
  
  .rise.active {
    opacity: 1;
    animation: rise-bounce 0.75s ease-out forwards;
  }

.tooltip{
  color: #81b39a;
  font-weight: bold;
}

#Title{
  font-size: 30px;
  margin: unset;
}
  #titlesub{
    font-size: 20px;
    text-align: center;
  }

#toolTip{
  display: flex;
  flex-direction: column;
}
