#instructionsWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#instructionsPage{
    width:55%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#2151b1, #000e2b) ;
    border-radius: 3vw;
    filter: drop-shadow(0px 0px 15px black);
    padding: 30px;
}

#instructionsPage h1{
    font-family: "montserrat";
    margin-bottom: 3vh;
}

#instructionsPage li{
    margin-top: 1vh;
}