table{
    border-collapse: collapse;
    text-align: center;
    font-size: x-large;
}

th{
    border-bottom: #2b2b2b 1px solid; 
    color: #2b2b2b;
    font-weight: 800;
}

tr,td{
    border: #2b2b2b 1px solid;
    color: #2b2b2b;
    font-size: 20px;
    height: 20px;
}