#wrapperLog{
    width: 30%;
    height: 100%;
/*     border-top-right-radius: 4%;
    border-bottom-right-radius: 4%; */
    background-image: linear-gradient(#2151b1, #000e2b);
    box-shadow: 0px 0px 40px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    text-align: center;
    color: rgb(223, 230, 255);
    font-size: 3.5vw;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 50%;
}

#LogIn{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: -40%;
}

#LogIn *{
    color: rgb(223, 230, 255);
    margin-top: 5%;
}

#U_ELog input{
    margin: 0 auto;
    width: 60%;
    height: 90%;
    color: black;
}

#passLog input{
    margin: 0 auto;
    width: 60%;
    height: 90%;
    color: black;
}

#Log{
    margin: 4% auto;
    width: 4vw;
    height: 4vw;
    background-color: rgb(223, 230, 255);
    background-image: url(../assets/strela.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    transition: 0.3s;
    border: 1px solid rgb(66, 73, 177);
    border-radius: 50%;
    font-size: larger;
    font-weight: 500;
    padding: 5px;
}

#Log:hover{
    width: 4.5vw;
    height: 4.5vw;
    margin-top: .5vw;
    transition: 0.3s;
}

.inputField{
    width: 100%;
    height: 100%;
    background-color: rgb(223, 230, 255);
    transition: 0.3s;
    border: 1px solid rgb(66, 73, 177);
    border-radius: 10px;
    padding: 8px;
}

.inputField::placeholder{
    color: grey;
}

#Error{
    color: red;
}

#MainLogo{
    background-image: url(../assets//Logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
  

#loginBackground{
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../assets/cartoonbank.jpg) center/cover no-repeat;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
}


#loginBackground::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.651); 
    z-index: 0; 
}

#loginBackground > * {
    position: relative;
    z-index: 1; 
}

#ErsteLogo{
    height: 5vh;
    width: 10vw;
    background-image: url(../assets/Erste_Bank.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 2;
    bottom: 1vh;
    right: 1vw;
}

#slogan{
    font-size: 3vw;
    margin-left: 20vw;
}

#slogan p{
    font-family: "Quicksand";
    font-weight: 100;
    font-style: italic;
}