#wrapper{
    background-image: linear-gradient(#2151b1, #000e2b);
    box-shadow: 0px 0px 40px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    width: 30vw;
    height: 50vh;
}

h3{
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 5%;
}

#SignUp *{
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

#U_E{
    margin-bottom: 4vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
}

#U_E *{
    margin: unset;
    width: 100%;
    height: 50%;
}

#pass{
    margin: unset;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-bottom: 5%;
}

#pass input{
    text-align: left;
    margin: unset;
    width: 100%;
    height: 100%;
}

.inputField{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 55, 255);
    transition: 0.3s;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 8px;
}

#Error{
    margin-top: 5%;
    color: red;
}

#signinBackground{
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../assets/cartoonbank.jpg) center/cover no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


#signinBackground::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.651); 
    z-index: 0; 
}

#signinBackground > * {
    position: relative;
    z-index: 1; 
}

#Sign{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 4vw;
    height: 4vw;
    background-color: rgb(223, 230, 255);
    background-image: url(../assets/strela.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    transition: 0.3s;
    border: 1px solid rgb(66, 73, 177);
    border-radius: 50%;
    padding: 5px;
}

#Sign:hover{
    width: 4.5vw;
    height: 4.5vw;
    transition: 0.3s;
}